* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  
}

.div-1 {
  left: 25%;
  position: absolute;
  width: 750px;
  height: 300px;
  background-color: grey;
  color: white;
  top: 7%;
 
  
}

.div-2 {
  top: 75px;
  left: 75px;
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: black;
  color: white;
}

.div-3 {
  top: 75px;
  right: 75px;
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: black;
  color: white;
}
