.container {
  position: relative;
}

div {
height: 250px;
width: 250px;
}

.div-1 {
  position: absolute;
  background-color: green;
}

.div-2 {
  position: absolute;
  background-color: hotpink;
  left: 125px;
  top: 125px; 
}