* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.div-1 {
  position: relative;
  background-color: cornflowerblue;
  color: white;
  width: 45em;
  height: 16em;
  left: 50%;
  top: 63%;
}

.div-2 {
  position: absolute;
  background-color: tomato;
  color: white;
  width: 150px;
  height: 160px;
 bottom: 0;
}
.div-3 {
  position: absolute;
  background-color: tomato;
  color: white;
  width: 150px;
  height: 160px;
  right: 0;
  top: 0;
}