#container {
  display: grid;
  
  grid-template-areas: "a . . . ."
                       ". . b . ."
                       ". . . . c";
                       grid-column-gap: 210px;



}

div {
  height: 175px;
  width: 175px;
  background: black;
  color: white;
}

.div-1 {
  grid-area: a;

}

.div-2 {
  grid-area: b;
  
  /* margin-left: 20rem; */
}

.div-3 {
  grid-area: c;
  /* margin-left: 18rem; */
  
}


