.div-1 {
  align-content: center;
  background-color: darkolivegreen;
  width: 350px;
  height: 350px;
  border-top: 25px solid white;
  margin: auto;
}

.div-2 {
  background-color: black;
  color: white;
  width: 200px;
  height: 200px;
  margin: auto;
  border-top: 50px solid darkolivegreen;
  position: relative;
  
}
